---
import "../styles/global.css";
import { SITE } from "../constants/site";

interface Props {
  title?: string;
}

const { title = SITE.name } = Astro.props;
---

<!DOCTYPE html>

<html lang={SITE.defaultLanguage}>
<head>

<meta charset="UTF-8" />

<meta
name="viewport"
content="width=device-width, initial-scale=1.0"
/>

<title>{title} | {SITE.company}</title>

</head>

<body>

<slot />

</body>

</html>